{%extends 'base.html'%}
<!-- {% load bootstrap3 %}
{% load static%}
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale= 1.0" />
<title>Instagram</title>
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!--
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
</head>
-->
{% block content %}
{{block.super}} -->

<body>
	<!-- <header>
		<a href="home.html"><i class="fa fa-home" aria-hidden="true"></i></a>
		<a href="search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
		<a href="likes.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
		<a href="profile.html"><i class="fa fa-user-o" aria-hidden="true"></i></a>
	</header> -->

	<section class="container">
		<!--loop through images-->
		{% for image_item in images %}
		<div class="card">
		<div class="card-header">
		<div class="profile-img">
			<img class="profile-img" src="{{user.profile.user_pic.url}}"/>
		</div>
		<div class="profile-info">
			<div class="name">{{image_item.author.username}}</div>
			<div class="location">{{ image_item.location }}</div>
		</div>
		</div>
		<div class="content">
			<img src="{{ image_item.picture.url}}" class="content" />
		</div>
		<div class="card-footer">
			<div class="footer-content">
				<span class="likes">241 likes</span>
					<p><span>{{image_item.author.username}}</span> {{image_item.caption}}</p>

					{% for comment in image_item.comments.all %}
					<p><span><img class="profile-img" src="{{user.profile.user_pic.url}}"/></span><span>{{ user.username}}</span> {{comment.caption}} </p>

					{% endfor %}
					<form  action="{% url 'allimages'%}" method="post" enctype="multipart/form-data">
				      {%csrf_token%}

					  <div class="input-group">
		  			  <input type="text" class="form-control" placeholder="Comment" name="comment">
		  			  <div class="input-group-btn">
						<input class="btn btn-default" type="submit"><i class="glyphicon glyphicon-cog"></i></button>
					</div>
				    </form>
		</div>
	</div>


		<div class="card">
		<div class="card-header">
		<div class="profile-img">
			<img class="profile-img" src="https://i.pinimg.com/736x/a2/e1/8c/a2e18cbfbcaa8756fe5b40f472eeff45--profile-   picture-profile-pics.jpg"/>
		</div>
		<div class="profile-info">
			<div class="name">missy_elliot</div>
			<div class="location">New York, New York</div>
		</div>
		</div>
		<div class="content">
			<img src="https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?dpr=1&auto=compress,format&fit=crop&w=342&h=&q=80&cs=tinysrgb&crop=" class="content" />
		</div>
		<div class="card-footer">
			<div class="footer-content">
				<span class="likes">241 likes</span>
					<p><span>missy_elliot</span> Currently starring in my own reality show titled, A Modern Cinderella; One Girl’s Search for Love and Shoe.</p>
					<p><span>gary_9198</span> Good Luck!! :D </p>
					<p><span>samantha_george</span> Beautiful Picture ♥ </p>
					<p><span>charlie.david</span> Heeyyy </p>
				<form class="form">
					<span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
					<span class="add-comment"><input type="text" placeholder="Add a comment..." /></span>
					<span class="options"><i class="fa fa-ellipsis-h"></i></span>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
	</section>
</body>

{% endblock %}
