<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
   <div class="navbar navbar-inverse" style="background-color:">
     <div class="container-fluid">
       <ul>
         <li class="col-md-4" id="intr1">
           <a href="#">
             <div class="menuLabel">INTERIOR DESIGN&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></div>
           </a>
         </li>
         <li class="col-md-4" id="intr2">
           <a href="#">
             <div class="menuLabel">INTERIOR DESIGN&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></div>
           </a>
         </li>
         <li class="col-md-4" id="intr3">
           <a href="#">
             <div class="menuLabel">INTERIOR DESIGN&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></div>
           </a>
         </li>
       </ul>
     </div>
   </div>
 </div>
</body>
<!-- <body>
<nav class="navbar navbar-inverse" style="background-color: ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'allimages' %}"><i class="fa fa-home"><i class="fa fa-square-o fa-stack-2x"></i></i></a>
    </div>
	<!-- Adding a search form  -->
	<!-- <div class="col-sm-4 col-md-4 navbar-center">
		<li>
		  <a href="{%url 'allimages'%}">Create Article</a>
		</li>

	</div>
     <div class="col-sm-4 col-md-4 navbar-right">
	     <li>
	       <a href="/logout">Logout</a>
	      </li>

</div>
<!-- search form end -->
<!-- <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">


                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>

                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
          </div>
  </div>
</nav> -->

</html> --> -->
