{%extends 'base.html'%}

{% load bootstrap3 %}
{% load static%}

{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/baseinstagram.css' %}">
{% endblock %}
{% block content %}
{{block.super}}
<header>
    {% if profiles %}
      <h2>Found profile of person {{message}}</h2>
    {% else %}
      <h2> Found 0 people for the search name entered </h2>
      <h2>{{message}}</h2>
    {% endif %}

	<div class="container">
        {% if profiles %}
{% for profile_item in profiles %}
		<div class="profile">

			<div class="profile-image">

				<img src="{{profile_item.user_pic.url}}" alt="" style="width:50%;height:50%;">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{ profile_item.name}}</h1>

				<button class="btn profile-edit-btn">Follow</button>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">164</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">{{profile.name}}</span>{{profile_item.bio}}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

        <!-- <p><span><img class="profile-img" src="{{user.profile.user_pic.url}}"/></span><span>{{ user.username}}</span> {{comment.comment}} </p> -->

        {% for image in profile_item.profile.all %}
		<div class="gallery">

			<div class="gallery-item" tabindex="0">

				<img src="{{ image.picture.url }}" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>

        </div>
        {% endfor %}

{% endfor %}
				</div>
{% endif %}
			</div>

		</div>
		<!-- End of gallery -->

	</div>
	<!-- End of container -->

</main>
{% endblock %}
